<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">{{ 'TRANSLATION.TITLE' | translate }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item button="true" color="primary" class="ion-text-center ion-text-wrap">
          <ion-avatar slot="start">
            <ion-img src="assets/img/national_flags/al.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ "TRANSLATION.AL" | translate }}</h2>
          <small>+{{ "TRANSLATION.DEU" | translate }}</small>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button="true" color="primary" class="ion-text-center ion-text-wrap">
          <ion-avatar slot="start">
            <ion-img src="assets/img/national_flags/cz.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ "TRANSLATION.CZ" | translate }}</h2>
          <small>+{{ "TRANSLATION.DEU" | translate }}</small>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button="true" color="primary" class="ion-text-center ion-text-wrap">
          <ion-avatar slot="start">
            <ion-img src="assets/img/national_flags/us.png"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ "TRANSLATION.US" | translate }}</h2>
          <small>+{{ "TRANSLATION.DEU" | translate }}</small>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button="true" color="primary" class="ion-text-center ion-text-wrap">
          <ion-avatar slot="start">
            <ion-img src="assets/img/national_flags/deu.jpg"></ion-img>
          </ion-avatar>
          <ion-label>
            <h2>{{ "TRANSLATION.DEU" | translate }}</h2>
            <small> </small>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
