<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">{{ 'CATEGORIES.TITLE' | translate }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let level of levels">
    <ion-list>
      <ion-list-header>{{ 'CATEGORIES.LEVELPREFIX' | translate }} {{ level.id }}</ion-list-header>
        <ion-item *ngFor="let category of getCategoriesFromLevel(level)" button (click)="chooseCategory(category)">
          <ion-avatar slot="start">
            <img src="{{ category.iconPath }}" alt="image which describes the category more or less...">
          </ion-avatar>
          <ion-label>{{ category.name }}</ion-label>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
