<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-wrap">{{ 'DIALECT.TITLE' | translate }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngFor="let dialect of dialects">
    <ion-row>
      <ion-col>
        <div *ngIf="isCurrentDialect(dialect); else isNotCurrentDialect">
          <ion-item button="true" color="primary" class="ion-text-center ion-text-wrap" (click)="setDialect(dialect)">
            <ion-label>
              <h2>{{ dialect.name }}</h2>
            </ion-label>
          </ion-item>
        </div>
        <ng-template #isNotCurrentDialect>
          <ion-item button="true" color="secondary" class="ion-text-center ion-text-wrap" (click)="setDialect(dialect)">
            <ion-label>
              <h2>{{ dialect.name }}</h2>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-col>
    </ion-row>
    </div>
  </ion-grid>
</ion-content>
