<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'HOME.WELCOME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-img [src]="image"></ion-img>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="block">
            <ion-icon slot="start" name="school-outline"></ion-icon>
            {{ 'HOME.LEARNING' | translate }}
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="block">
            <ion-icon slot="start" name="ear-outline"></ion-icon>
            {{ 'HOME.TEST' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
