<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'HOME.TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-img [src]="image"></ion-img>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="block" (click)="requestCategories(0)">
            <ion-icon slot="start" name="school"></ion-icon>
            {{ 'HOME.LEARNING_BTN' | translate }}
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="block" (click)="requestCategories(1)">
            <ion-icon slot="start" name="ear"></ion-icon>
            {{ 'HOME.TEST_BTN' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
