<ion-header>
  <ion-toolbar>
    <ion-title>end_card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>{{ 'TEST.GRATULATION' | translate }}</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>{{ 'TEST.GRATULATION_TEXT' | translate }}</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large" class="ion-text-wrap" (click)="again()">
            <ion-icon slot="start" name="reload"></ion-icon>
            {{ 'TEST.REPLAY_BTN' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large" class="ion-text-wrap" (click)="requestCategories(0)">
            <ion-icon slot="start" name="school"></ion-icon>
            {{ 'TEST.LEARNING_BTN' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large" class="ion-text-wrap" (click)="requestCategories(1)">
            <ion-icon slot="start" name="ear"></ion-icon>
            {{ 'TEST.QUIZ_BTN' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large" class="ion-text-wrap" (click)="directToHome()">
            <ion-icon slot="start" name="home"></ion-icon>
            <span class="ion-text-left">{{ 'TEST.HOME_BTN' | translate }}</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
