<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "TEST.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card button="true" color="primary" class="ion-text-center">
          <ion-img [src]="image"></ion-img>
          <h2>{{ answer }}</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" color="primary" class="ion-text-center">
          <ion-img [src]="image"></ion-img>
          <h2>{{ answer }}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" color="primary" class="ion-text-center">
          <ion-img [src]="image"></ion-img>
          <h2>{{ answer }}</h2>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" color="primary" class="ion-text-center">
          <ion-img [src]="image"></ion-img>
          <h2>{{ answer }}</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button expand="block" shape="round" size="large">
          <ion-icon name="play" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
