<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onBackButton()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "TEST.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" [options]="{slideOpts}" #slides>
    <!-- CONTENT FOR EVERY WORD -->
    <!-- Slides with questions and play-button -->
    <ng-container *ngFor="let quizWord of quizWords; let i = index">
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- Same chematic for every card: if u press the button the color changes to red (false) or green (correct) -->
              <ion-card color="{{ answerColorArray[0] }}"
                        class="ion-text-center ion-text-wrap" (click)="submitAnswer(0, quizWord)">
                <ion-img src="/assets/img/{{quizWord.answerOptions[0].picturePath}}.jpg"></ion-img>
                <h2 *ngIf="buildTranslationWord(quizWord.answerOptions[0]) !== 'undefined'; else elseBlock0">
                  {{ quizWord.answerOptions[0].translationWord }}
                </h2>
                <ng-template #elseBlock0>
                  <h2>
                    {{ quizWord.answerOptions[0].german }}
                  </h2>
                </ng-template>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card color="{{ answerColorArray[1] }}"
                        class="ion-text-center ion-text-wrap" (click)="submitAnswer(1, quizWord)">
                <ion-img src="/assets/img/{{quizWord.answerOptions[1].picturePath}}.jpg"></ion-img>
                <h2 *ngIf="buildTranslationWord(quizWord.answerOptions[1]) !== 'undefined'; else elseBlock1">
                  {{ quizWord.answerOptions[1].translationWord }}
                </h2>
                <ng-template #elseBlock1>
                  <h2>
                    {{ quizWord.answerOptions[1].german }}
                  </h2>
                </ng-template>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-card color="{{ answerColorArray[2] }}"
                        class="ion-text-center ion-text-wrap" (click)="submitAnswer(2, quizWord)">
                <ion-img src="/assets/img/{{quizWord.answerOptions[2].picturePath}}.jpg"></ion-img>
                <h2 *ngIf="buildTranslationWord(quizWord.answerOptions[2]) !== 'undefined'; else elseBlock2">
                  {{ quizWord.answerOptions[2].translationWord }}
                </h2>
                <ng-template #elseBlock2>
                  <h2>
                    {{ quizWord.answerOptions[2].german }}
                  </h2>
                </ng-template>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card color="{{ answerColorArray[3] }}"
                        class="ion-text-center ion-text-wrap" (click)="submitAnswer(3, quizWord)">
                <ion-img src="/assets/img/{{quizWord.answerOptions[3].picturePath}}.jpg"></ion-img>
                <h2 *ngIf="buildTranslationWord(quizWord.answerOptions[3]) !== 'undefined'; else elseBlock3">
                  {{ quizWord.answerOptions[3].translationWord }}
                </h2>
                <ng-template #elseBlock3>
                  <h2>
                    {{ quizWord.answerOptions[3].german }}
                  </h2>
                </ng-template>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text>
                {{ buildProgressBar(i) }}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-progress-bar value="{{ progressBarProgress }}"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" shape="round" size="large" (click)="playSound(quizWord.word.pronunciationPath)">
                <ion-icon name="play" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <div *ngIf="!isLastSlide(i); else lastSlide">
              <ion-button [disabled]="buttonsActive" expand="block" shape="round" size="large" (click)="nextSlide(slides)">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
              </ion-button>
              </div>
              <ng-template #lastSlide>
                <ion-button [disabled]="buttonsActive" expand="block" shape="round" size="large" (click)="nextSlide(slides)">
                  <ion-icon name="ear" slot="icon-only"></ion-icon>
                </ion-button>
              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ng-container>

    <!-- END SLIDE -->
  </ion-slides>
</ion-content>
