<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="directToHome()">
        <ion-icon name="home-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'LEARNING.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="false" #slides (ionSlideReachEnd)="lastSlide()">
    <ion-slide *ngFor="let vocabularyWord of vocabularyWords; let i = index">
      <!-- FAB BUTTON -->
      <ion-fab vertical="center" horizontal="start" slot="fixed" *ngIf="buildAnnotationAndDescribtion(vocabularyWord) !== 'undefined'">
        <ion-fab-button>
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <div class="info-button-text">
            <ion-text class="ion-text-center">
              {{ buildAnnotationAndDescribtion(vocabularyWord) }}
            </ion-text>
          </div>
        </ion-fab-list>
      </ion-fab>

      <!-- CONTENT FOR EVERY WORD -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-img src="/assets/img/{{ vocabularyWord.picturePath }}.jpg"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <div>
              <h2>{{ vocabularyWord.dialectWord }}</h2>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <div>
              <em *ngIf="buildTranslationWord(vocabularyWord) !== 'undefined'; else germanWordNotCursive">
                {{ vocabularyWord.german }}
              </em>
              <ng-template #germanWordNotCursive>
                {{ vocabularyWord.german }}
              </ng-template>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="buildTranslationWord(vocabularyWord) !== 'undefined'">
          <ion-col>
            <div class="ion-text-center">
              {{ buildTranslationWord(vocabularyWord) }}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button expand="block" size="large" shape="round" (click)="playSound(vocabularyWord.pronunciationPath)">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngIf="i > 0">
              <ion-button expand="block" size="small" shape="round" fill="outline" (click)="prevSlide(slides)">
                <ion-icon slot="icon-only" name="play-back"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-button expand="block" size="small" shape="round" fill="outline" (click)="nextSlide(slides)">
              <ion-icon slot="icon-only" name="play-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text>
              {{ buildProgressBar(i) }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-progress-bar value="{{ progressBarProgress }}"></ion-progress-bar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- END SLIDE -->
    <ion-slide>
      <div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>{{ 'LEARNING.GRATULATION' | translate }}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>{{ 'LEARNING.GRATULATION_TEXT' | translate }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" class="ion-text-wrap" (click)="slideToFirst(slides)">
              <ion-icon slot="start" name="reload"></ion-icon>
              {{ 'LEARNING.REPLAY_BTN' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" class="ion-text-wrap" (click)="requestCategories(0)">
              <ion-icon slot="start" name="school"></ion-icon>
              {{ 'LEARNING.LEARNING_BTN' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" class="ion-text-wrap" (click)="requestCategories(1)">
              <ion-icon slot="start" name="ear"></ion-icon>
              {{ 'LEARNING.QUIZ_BTN' | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" class="ion-text-wrap" (click)="directToHome()">
              <ion-icon slot="start" name="home"></ion-icon>
              <span class="ion-text-left">{{ 'LEARNING.HOME_BTN' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
